h2{
    color: #3c64a0;
    text-align: center;
}

div{
    display: flex; 
    justify-content: center;
}

table{
    width: 530px;
}

table, td{
    border: 1px solid #000000;
    border-collapse: collapse;
    background-color: #fcfdbf;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #39776a;
}

tr:nth-child(1) td:first-child{
    width: 120px;
}

tr:nth-child(3) td:nth-child(2) input{
    width: 160px;
}

tr:nth-child(4) td:nth-child(2) input{
    accent-color: #fff;
}

optgroup{
    font-style: italic;
}

option{
    font-style: normal;
}

tr:nth-child(6) td:nth-child(2) input:nth-child(1),
tr:nth-child(6) td:nth-child(2) input:nth-child(2) {
    accent-color: #000000;
}


tr:nth-child(6) td:nth-child(2) select option:nth-child(odd) {
    background-color: #0c2366; 
    color: #fff;
}

fieldset{
    width:300px;
    border-color: #872400;
    text-align: center;
    margin: 0 auto;
}

legend{
    text-align: left;
    color: #872400;
}

textarea{
    width: 300px;
}

tr:nth-child(9){
    text-align: center;
}

tr:nth-child(9) td button{
    text-align: center;
    background-color: #cdc6db;
    border-color: #fff;
}

tr:last-child td{
    text-align: center;
    color: #cb7b2f;
}