body{
    background-color: #A06D21;
    background-image: url("../images/Bai03.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 64px;
    background-attachment: fixed;
}

h2{
    font-family: Tahoma;
    text-align: center;
    color: #FFCC00;
    font-weight: 900;
}

.content{
    color: #ffffff;
}

