body{
    font-family: Tahoma;
    font-size: 12px;
}

h1{
    text-align: center;
    color: #CC0033;
}

.content{
    display: flex;
    justify-content: center;
} 

table, td, th{
    border: 1px solid #ea9184;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #CC0033;
    color: #FFFFFF;
}

tr:nth-child(3) td:first-child, tr:nth-child(9) td:first-child{
    width: 170px;
    color: #CC0033;
}

.text--left{
    text-align: left;
}